.imageContainer {
  overflow: hidden;
  transition: all 0.3s ease;
  width: 225px;
  height: 225px;
}

.imageContainer:hover {
  transform: scale(1.14);
  z-index: 1;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18), 0 6px 12px rgba(0, 0, 0, 0.24);
}
.imageContainer:hover .heart {
  visibility: visible;
}

.heart {
  position: absolute;
  z-index: 10;
  bottom: 28.3px;
  right: 21px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: transparent;
  fill: #ccc;
  cursor: pointer;
  visibility: hidden;
  object-fit: contain;
}

.heart:hover svg path {
  fill: rgba(242, 78, 30, 1);
}

.heart:active svg path {
  fill: rgba(255, 58, 0, 1);
  stroke-miterlimit: 1;
}
